body {
  font-size: 19px;
  background-color: bisque;
}

.ui.search {
  margin-top: 50px;
  text-align: center;
  
}

i {
  cursor: pointer;
}

.main-div{
  width: 100%;
  height: 100%;
  text-align: center;
}
